@model ApplicationCore.Entities.Movie

<h1>@Model.Title</h1>
<img src="@Model.BackdropUrl" alt="@Model.Title" style="width:100%; height:auto;"/>

<div>
    <h3>Overview</h3>
    <p>@Model.OverView</p>

    <h4>Details</h4>
    <p><strong>Runtime:</strong> @Model.Runtime minutes</p>
    <p><strong>Revenue:</strong> $@Model.Revenue</p>
    <p><strong>Budget:</strong> $@Model.Budget</p>
    <p><strong>Original Language: </strong> @Model.OriginalLanguage</p>
    <p><a href="@Model.ImdbUrl" target="_blank">View on IMDb</a></p>
    <p><a href="@Model.TmdbUrl" target="_blank">View on TMDB</a></p>
</div>